/* Center
------------------------*/
/* .center(); */
.center {
  margin-left: auto;
  margin-right: auto;
}
/* For Loop
------------------------*/
/* .for(1 to 3) */
.span-1 {
  width: 150px;
}
.span-2 {
  width: 300px;
}
.span-3 {
  width: 450px;
}
/* .for(3 to 1) -- Error! */
/* for(3 downto 1) */
.span-1 {
  width: 150px;
}
.span-2 {
  width: 300px;
}
.span-3 {
  width: 450px;
}
